* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: lato, sans-serif;
  color: #161716;
  background-color: #F2F2F2;
  line-height: 1.4;
  font-size: 16px;
}

main{
  margin: 4em;
  margin-top: 8em;
  gap: 1.5rem;
}

body {
  width: 100vw;
  min-width: 50vw;
  margin: auto;
}

header { 
  color: #F2F2F2;
  background-color: #59694F;
  width: 100vw;
  position: fixed;
  padding: 1rem;
  top: 0px;
  
}
  
nav {
display: flex;
align-items: center;  
justify-content: space-between;
padding: 0 1rem;
color:  #F2F2F2;
font-size: 1.2em;
  
}
  li {
    display: inline;
    float: right;
  }
  
nav a {
  
padding: 0 .5em;
text-decoration: none;
color:  #F2F2F2;
}

a:hover {
color:  #BDA28D;
}

 .logo a {
    font-size: 1.4em;
    font-weight: 700;
   font-family: "lustria", serif;
   
  }
  
 .heroimage{
   width: 75%;
   max-width: 100%;
   object-fit: cover;
   vertical-align: middle;
   
    
  }


  .herocontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
  }
  .herotext {
    flex: 1;
    
  }

.aboutsection1 {
display: grid; 
grid-template-columns: repeat(2, 50vw);
grid-template-rows: 50vh;
}

.aboutcontent1 {
height: 4em;
padding: 3em;
}

.image1 {
background: URL("https://matcha.com/cdn/shop/products/MatchaKari-11.04.20-0025_1800x1800.jpg?v=1623387595")
background-size: cover;
background-repeat: no-repeat;
background-size:
}

.aboutsection2 img {
  max-width: 100%;
  aspect-ratio: 9 / 16; 
  object-fit: cover;

}

.abouttext {
  text-align: center;
  font-size: 1.2em;
}

.contentall {
  margin-top: 3em;
  display: flex;
  gap: 1.5em;
  
  
}

.content {
width:
  
}
h1 {
  font-size: 2.5em;
  font-family: "lustria", serif;
  font-weight: 700;
   line-height: 1.5em;
  margin-bottom: .7em;
}

h2 {
line-height: 1.2em;
margin-top: 5em;
  
}
.subheading {
  font-size: 1.3em;
}

footer {
  color: #F2F2F2;
  background-color: #59694F;
  width: 100%;
	height: 18em;;
	padding: 2em 4rem;
	display: flex;
 
}

.footercontent {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.sources {
  display: flex;
 flex-direction: column;
	color: #F2F2F2;
  width: 2em;
  height; auto;
  padding-bottom: 2em;
}

footer a {
text-decoration: none;
color:  #F2F2F2;
  
  
}

.copyright {
  text-align: right;
}


@media only screen and (max-width: 480px) {
  html {
    main{
  margin: 1em;
  margin-top: 6em;
}
  body {
    width: 100vw;
    min-width: 50vw;
  }
    
    .heroimage{
   width: 100%;
   max-width: 100%;
   object-fit: cover;
   vertical-align: middle;
    }
    
    nav {
      font-size: .9em;
    }
    
    .contentall {
  margin-top: 3em;
  display: flex;
  gap: 1.2em;
  flex-wrap: wrap;
  
}
    
   .herotext {
    flex: 1;
    font-size: .9em;
    
  }
    
