* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: lato, sans-serif;
  color: #161716;
  background-color: #F2F2F2;
  line-height: 1.4;
  font-size: 16px;
}

main{
  margin: 2em;
  margin-top: 8em;
  gap: 1.5rem;
}

header { 
  color: #F2F2F2;
  background-color: #59694F;
  width: 100vw;
  position: fixed;
  padding: 1rem;
  top: 0px;
  
}
  
nav {
display: flex;
align-items: center;  
justify-content: space-between;
padding: 0 1rem;
color:  #F2F2F2;
font-size: 1.2em;
  
}
  li {
    display: inline;
    float: right;
  }
  
nav a {
  
padding: 0 .5em;
text-decoration: none;
color:  #F2F2F2;
}

a:hover {
color:  #BDA28D;
}

 .logo a {
    font-size: 1.4em;
    font-weight: 700;
 
  }
  
 .heroimage{
   width: 58%;
   max-width: 100%;
   object-fit: cover;
   vertical-align: middle;
   display: flex;
    
  }


  .herocontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5rem;
    padding: 0 15px;
    align-items: center;
    
  }
  .herotext {
    flex: 1;
    
  }

img {
   display: flex;
}
