* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: lato, sans-serif;
  color: #161716;
  background-color: #F2F2F2;
  line-height: 1.4;
  font-size: 16pt;
}

header {
  
  color: #F2F2F2;
  background-color: #59694F;
  width: 100vw;
  height: 80px;
  position: fixed;
  font-size: 20px;
  padding: 20px;
  top: 0px;
  
  
nav {
display: flex;
align-items: center;  
  
}
  
nav a {
display: flex;
padding: 0 15px;
text-decoration: none;
color:  #F2F2F2;
}

a:hover {
color: #8BA888;
}

 .logo {
    font-size: 28px;
    font-weight: 700;
 
  }
