* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: lato, sans-serif;
  color: #161716;
  background-color: #F2F2F2;
  line-height: 1.4;
  font-size: 16px;
}

header {
  
  color: #F2F2F2;
  background-color: #59694F;
  width: 100vw;
  position: fixed;
  font-size: px;
  padding: 1rem;
  top: 0px;
  
  
nav {
display: flex;
align-items: center;  
justify-content: space-between;
padding: 0 1rem;
color:  #F2F2F2;
  
}
  li {
    display: inline;
    float: right;
  }
  
nav a {
padding: 0 .5em;
text-decoration: none;
color:  #F2F2F2;
}

a:hover {
color: #8BA888;
}

 .logo a {
    font-size: 1.2em;
    font-weight: 700;
 
  }

 img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
