* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: lato, sans-serif;
  color: #161716;
  background-color: #F2F2F2;
  line-height: 1.4;
  font-size: 16pt;
}

header {
  color: #F2F2F2;
  background-color: #59694F;
  width: 100%;
  height: 80px;
  position: fixed;
  justify-content: flex-end;
  font-size: 20px;
  padding: 25px;

nav a {
display: flex;

}


